version: '3'
services:
  sync:
    build: .
    volumes:
      - ./repos:/data/repos

  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./repos:/data/repos:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - sync